* {
    box-sizing: border-box;
  }

  .textbox{
    width: 100%;
    padding: 10px;
    border: 5px solid gray;
    margin: 10px;
    height: 100%;
  }

  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  .columnBig {
    float: left;
    width: 50%;
  }
  @media only screen and (max-width: 900px) {
    .column {
      float: left;
      width: 50%;
      display: none; /* Hide all elements by default */
    }
  }
  @media only screen and (max-width: 600px) {
    .column {
      float: left;
      width: 100%;
      display: none; /* Hide all elements by default */
    }
    .columnBig {
      float: left;
      width: 100%;
    }
  }
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  .schematic{
    border: 5px solid #555;
  }
  html, body {
    margin:0px;
    min-height: 200px;
    }
    .map {
        float: left;
        width: 100vw;
        height: 100vh;
    }
    .columnInfo{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #FFFFFF;
        border-radius: 10px;
        width: 200px;
        text-align: center;
    }
    .columnLegend{
        position: absolute;
        top: 10px;
        left: 50px;
        background-color: rgb(241,241,241);
        border-radius: 10px;
        border: 2px solid #AA0000;
        width: 200px;
        padding: 2px;
    }
    table {
        border-radius: 20px;
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        text-align: center;
    }
    .infotable tr:nth-child(even) {
    background-color: #ccc;
    }
    .infotable tr:nth-child(odd) {
    background-color: #fff;
    }
    .infotable th {
    background-color: #AA0000;
    color: white;
    }
    .wrapper {
    position: relative;
    }
    #title{
        text-align: center;
        height: 10px
    }
    p{
        text-align: center;
        margin: 3px;
    }
    .cmap-button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 16px;
    }
    .colorbar{
        width: 180px;
        margin: 0 auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    .sidepanel  {
      width: 0;
      position: fixed;
      z-index: 2;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgb(241,241,241);
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidepanel a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidepanel a:hover {
      color: #f1f1f1;
    }
    
    .sidepanel .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
    }
    
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: #111;
      color: white;
      padding: 10px 15px;
      border: none;
      position: absolute;
    }
    
    .openbtn:hover {
      background-color:#444;
    }
    #chart1{

    }